<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos Faculdade SENAC</title>
</head>

<body>
    <th:block th:include="header"></th:block>
    <div class="container">
        <br>
        <div class="row">
            <div class="col s6"><img src="img/auditorio.png" width="500" height="300"></div>
            <div class="col s6">
                <p>Aplicativo em Java com uso do Spring para estudo na disciplina de CLT, para <b>Gestão de Eventos da
                    Faculdade SENAC-PE.</b></p>
            </div>
        </div>
    </div>
    <th:block th:include="footer"></th:block>
</body>
<!-- Compiled and minified JavaScript -->
<script src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1min.js"></script>
</html>