*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

#head-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(37, 37, 39);
}

.main-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.main-menu ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.main-menu ul li a:hover{
    background-color: rgb(24, 139, 233);
}

.main-menu li:last-child a {
    background-color: rgb(24, 139, 233);
}

.main-menu li:last-child a:hover {
    background-color: rgb(18, 128, 218);
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .video-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    color: #fff;
}

.banner .video-texth1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 70px;
    color: #fff;
}

.banner .video-texth2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.video-button{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffff;
    background-color: rgb(24, 139, 233);
    width: 242px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.video-button a{
    text-decoration: none;
    color: #fff;
}

.video-button:hover{
    background-color: rgb(18, 128, 218);
}

.menu-showblack{
    display: grid;
    place-items: center;
    background-color: rgb(37, 37, 39);
    border-top: 0.1px solid  #7c7c7c;
    height: 100px;
}

.wrapper{
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
  .wrapper .whatsapp:hover span,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip:before{
    background: #4aae20;
  }

.menu-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border-top: 0.2px solid   rgb(37, 37, 39);
    height: 700px;
}


.card {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(24, 139, 233);
    border-right: 20px solid rgb(24, 139, 233);
}

.card02 {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
}

.card02::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(24, 139, 233);
    border-right: 20px solid rgb(24, 139, 233);
}

.card03 {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
}

.card03::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(24, 139, 233);
    border-right: 20px solid rgb(24, 139, 233);
}


.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 250px;
}

.card .placa {
    margin-left: 45px;
    margin-bottom: 15px;
}


.card02 .placa {
    margin-left: 45px;
    margin-bottom: 15px;
}

.card03 .placa {
    margin-left: 45px;
    margin-bottom: 15px;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}

.content h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: rgb(24, 139, 233);
    bottom: 1px;
    border-radius: 100px;
}

.content p {
    color: #b7b7b7;
}

#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(24, 139, 233);
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: rgb(24, 139, 233);;
    transition: all 0.2s ease-in-out;
}

#read_button02 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(24, 139, 233);;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button02:hover {
    background-color: transparent;
    color: rgb(24, 139, 233);;
    transition: all 0.2s ease-in-out;
}

#read_button03 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(24, 139, 233);;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button03:hover {
    background-color: transparent;
    color: rgb(24, 139, 233);;
    transition: all 0.2s ease-in-out;
}

.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

.card02.active .content {
    height: auto;
}

.card02.active .content::before {
    visibility: hidden;
}

.card03.active .content {
    height: auto;
}

.card03.active .content::before {
    visibility: hidden;
}

.flogo{
    width:20px;
	height:20px;
}

footer{
    border-top: 0.1px solid  #7c7c7c;
    background-color: rgb(37, 37, 39);
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');