/* Código apenas para limpar os padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* cabeçalho */
#head-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(37, 37, 39);
}

.main-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.main-menu ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.main-menu ul li a:hover{
    background-color: rgb(24, 139, 233);
}

.main-menu li:last-child a {
    background-color: rgb(24, 139, 233);
}

.main-menu li:last-child a:hover {
    background-color: rgb(18, 128, 218);
}

/* Corpo */
.menu-showblack{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 39);
    border-top: 0.1px solid  #7c7c7c;
    color: #fff;
    height: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.menu-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    color: #fff;
    border-top: 0.2px solid   rgb(37, 37, 39);
    height: 1000px;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px
}

select {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px
}

form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
  }

/* Rodapé */
.flogo{
    width:20px;
	height:20px;
}

footer{
    border-top: 0.1px solid  #7c7c7c;
    background-color: rgb(37, 37, 39);
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* As fontes usadas no site estão uma bagunça no momento, tenho que ajeitar depois */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');