<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/Icon.svg" type="image/svg">
    <title>Futurense - Idealizando o futuro </title>
    <link rel="stylesheet" href="css/style-Galeria.css">
</head>

<body>

    <!-- cabeçalho --> 
    <th:block th:include="header"></th:block>

    <!-- Corpo --> 
    <main id="content">
       <section class="menu-showblack">
            <P>Galeria</P>

        </section>

        <section class="menu-body">
            <div class="image-content">
                <div class="image"><img src="img/galeria_photos/1.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/2.jpg" alt="TEST02"></div>
                <div class="image"><img src="img/galeria_photos/3.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/4.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/5.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/6.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/7.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/8.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/9.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/10.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/11.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/12.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/13.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/14.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/15.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/16.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/17.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/18.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/19.png" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/20.png" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/21.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/22.png" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/23.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/24.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/25.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/26.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/27.jpg" alt="TEST01"></div>
                <div class="image"><img src="img/galeria_photos/28.jpg" alt="TEST01"></div>
            </div>
        </section>
    </main>

    <!-- Rodapé --> 
    <th:block th:include="footer"></th:block>

</body>

</html>