<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/Icon.svg" type="image/svg">
  <title>Futurense - Idealizando o futuro </title>
  <link rel="stylesheet" href="css/style-Sobre.css">
</head>

<body>

  <!-- cabeçalho -->
  <th:block th:include="header"></th:block>

  <!-- Corpo -->
  <main id="content">
    <section class="menu-showblack">
      <P>Sobre Nós</P>

    </section>

    <section class="menu-body">
      <div class="sobre">
        <div class="title">
          <h2>SOBRE NÓS</h2>
        </div>
        <div class="stexto">
          <p>
            Atendemos as necessidades dos nossos clientes, desde o projeto até a fabricação do produto.
          </p>
          <br>
          <p>
            Projetamos e construímos produtos visando atender as necessidades do amanhã.
          </p>
          <br>
          <p>
            Temos laboratório de pesquisa em parceria com a Universidade de Pernambuco e CNPQ.
          </p>
          <br>
          <p>
            Desenvolvemos novas tecnologias para ajudar os nossos clientes a atingirem os resultados desejados.
          </p>
          <br>
          <p>
            Prazo curto entre o projeto e a construção do produto.
          </p>
        </div>
      </div>
    </section>
  </main>

  <!-- Rodapé -->
  <th:block th:include="footer"></th:block>

</body>

</html>